#pragma once
// secrets.h.example を secrets.h にコピーして値を入れる

// 既存WiFi設定
const char* ssid     = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";

// Eduroam設定

#ifdef USE_EDUROAM
#define EDUROAM_SSID       "eduroam"
#define EDUROAM_ANON_ID    "anonymous@ucr.ac.cr"    // 外部identity
#define EDUROAM_IDENTITY   "user@ucr.ac.cr"  // 内部identity
#define EDUROAM_PASSWORD   "YOUR_PASSWORD"
#endif
